@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


html, body{
 background-color: rgb(0, 0, 0);
   height:100%;
   margin:0;
  /*font family*/
   color: rgb(0, 0, 0);
}

.img1{
    background-color: rgb(0, 0, 0);
    position: relative;
    background-image: url("././img/pokemon_capa.jpg");
    height: 100%;
    opacity: 1.5;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.capition{
    position: absolute;
    left:  0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.capition span.border{
    background: rgba(0, 0, 0, 0.273);
    opacity: 3.0;
    color: rgb(255, 255, 255);
    padding: 15px 50px;
    font-size: 50px;
    letter-spacing: 20px;
}


.img2{
    background-color: rgb(0, 0, 0);
    position: relative;
    background-image: url("../img/detective-pikachu-9z3yp3akua2dnmeh.jpg");
    height: 100%;
    opacity: 1.0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img3{
    background-color: rgb(0, 0, 0);
    position: relative;
    background-image: url("../img/shiny-mewtwo-glowing-hands-ib2nfai9xt3jasti.jpg");
    height: 100%;
    opacity: 1.0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.texto1{
    background-color: rgb(255, 232, 23);
    color: rgba(0, 0, 0, 0.516);
    text-align: center;
    padding: 50px 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texto1 h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texto1 h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.texto2{
    background-color: rgb(255, 208, 0);
    color: rgba(0, 0, 0, 0.625);
    text-align: center;
    padding: 50px 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texto2 h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texto2 h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texto3 h3{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.texto3 h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.texto3{
    background-color: rgb(107, 2, 119);
    color: rgba(255, 252, 252, 0.795);
    text-align: center;
    padding: 50px 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 




